# Python bytecode & caches
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Build & egg artifacts (created when installing via pip)
build/
dist/
*.egg-info/

# Logs created during local testing
output/logs/

# Virtual environments
.venv/
venv/
ENV/

# TODO
todo.md